@page
@model IndexModel
@{
    ViewData["Title"] = "PowerConcern";
}
@functions {
    string FloatFormat(float f) {
        return f.ToString("0.0#");
    }   
}

<div class="text-center">
    <h1 class="display-4">SiteInfo</h1>
    <br/>
    <p>User ID:@Model.userId</p>
    <br/>
    <p>Current charger amps:@Model.fMeanCurrent</p>
    <br/>
    @if(@Model.Partner!=null) {
        <p>Meter(s) for @Model.Partner.Name</p>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>L1</th>
                <th>L2</th>
                <th>L3</th>
            </tr>
            @foreach (var item in Model.meterCacheList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sName)
                    </td>
                    @{
                        for (int i = 1; i < 4; i++)
                        {
                            <td>
                                @FloatFormat(item.fMeanCurrent[i])
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    } else
    {
        <p>Partner not found for logged in user</p>
    }
<p><a asp-page="/Meter/Index">Meter</a></p>
</div>
